.app{
    background-color: #f1f2f5;
    
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;

}

header {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.card {
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 1000px;
}

.card > h3 {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 11%;
    font-size: 27px;
    
}

.colors {
    display: flex;
    justify-content: space-between;
}
.color {
    padding-left: 160px;
    display: none;
    padding-top: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin: 5px;

}